.div-Sidebar {
  display: grid;
  align-items: center;
  width: 113px;
  margin-top: -5rem;
  padding: 1rem;
}
.div-panel {
  width: 80px;
  height: 80px;
  margin: auto;
}
.div-wishlist {
  width: 50px;
  height: 43px;
  margin: auto;
}
.div-sittings {
  width: 50px;
  height: 48px;
  margin: auto;
}
.vector {
  width: 50px;
  height: 50px;
  margin: auto;
}
.div-sub-icon {
  height: 569px;
  display: grid;
  padding-top: 15rem;
  margin-top: 2rem;
}
button.btn-moon {
  background: none;
  border: none;
  cursor: pointer;
}
button.btn-sun {
  background: none;
  border: none;
  cursor: pointer;
}
.sun,
.moon {
  margin: auto;
}
.theam {
  margin: auto;
  width: 52px;
  height: 138px;
  display: grid;
  background: #c1c1c1;
  border-radius: 60px;
  margin-top: 182px;
}
.hr {
  position: absolute;
  width: 9px;
  height: 948px;
  left: 113px;
  top: 127px;
  background: #ffffff;
  box-shadow: inset 2px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 38px;
}
.flex {
  display: flex;
}
